@import url(/css/reset.css);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.container {
    text-align: center;
    margin: 0 auto;
    max-width: 1024px;
}

body {
    font-family: 'Montserrat';
}

.header {
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.06);
}

.header__nav {
    display: flex;
    padding: 22px 0;
    gap: 62px;
    align-items: center;
    justify-content: center;
}

.header__logo {
    display: flex;
    position: relative;
    font-weight: 700;
    font-size: 42px;
    line-height: 40px;
    color: #476BF0;
    align-items: center;
    gap: 20px;
}

.header__logo span {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #525252;
    white-space: nowrap;
}

.header__list {
    display: flex;
    flex-direction: row;
    gap: 62px;
}

.header__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 17px;
    color: #252A34;
    text-transform: uppercase;
    white-space: nowrap;
    transition: 0.1s ease;
}

.header__link:hover {
    color: #476BF0;
}

.vert-line:before {
    position: absolute;
    content: " ";
    background: #525252;
    width: 1px;
    height: 19px;
    top: 10px;
    left: 90px;
    float: left;
}

.selection__body {
    padding-top: 75px;
}

.title {
    font-weight: 600;
    font-size: 40px;
    line-height: 38px;
    color: #252A34;
}

.selection__links {
    text-align: center;
}

.selection__link {
    display: flex;
    padding: 17px 0 20px 28px;
    width: 316px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.07);
    border-radius: 12px;
    align-items: center;
    transition: 0.2s ease;
    gap: 27px;
}

.selection__link span {
    font-weight: 600;
    font-size: 20px;
    line-height: 19px;
    color: #252A34;
}

.selection__link:hover {
    background: #F4F4F4;
}

.selection__links-top {
    justify-content: center;
    display: flex;
    margin-top: 75px;
    gap: 38px;
}

.selection__links-bot {
    justify-content: center;
    gap: 38px;
    display: flex;
    margin-top: 32px;
}

.offers__body {
    padding-top: 75px;
}

.buttons__list {
    justify-content: center;
    display: flex;
    gap: 21px;
}

.offers__btns {
    margin-top: 51px;
    padding-bottom: 10px;
}

.buttons__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 63px;
    border-radius: 15px;
    background: #E8ECFF;
    font-weight: 400;
    font-size: 22px;
    line-height: 21px;
    color: #476BF0;
    transition: 0.1s ease;
}

.buttons__item:hover {
    background: #E1E6FF;
}

.button__item:active {
    background-color: #476BF0;
    color: white;
}

.offers__cards-row {
    display: flex;
    justify-content: center;
    gap: 22px;
    margin-top: 30px;
}

.offers__card {
    width: 321px;
    padding-top: 21px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.06), 0px 0px 24px rgba(0, 0, 0, 0.09);
    border-radius: 15px;
    transition: 0.3s ease;
    margin-top: 33px;
}

.offers__card:hover {
    box-shadow: 0px 0px 28px rgba(71, 107, 240, 0.2);
}

.offers__card-img {
    margin-bottom: 30px;
}

.offers__card-percentages {
    font-weight: 400;
    font-size: 26px;
    line-height: 25px;
    text-align: center;
    color: #000000;
}

.offers__card-percentages span {
    font-weight: 300;
    font-size: 55px;
    line-height: 53px;
    text-align: center;
    color: #000000;
}

.offers__card-text:not(:last-child) {
    margin-bottom: 16px;
}

.offers__card-cashback {
    font-weight: 300;
    font-size: 22px;
    line-height: 21px;
    text-align: center;
    color: #727272;
}

.all-offers__btn {
    display: inline-block;
    padding: 13px 26px;
    border: 1px solid #476BF0;
    border-radius: 15px;
    font-weight: 400;
    font-size: 26px;
    line-height: 25px;
    background-color: transparent;
    margin: 68px auto 0;
    color: #476BF0;
}

.all-offers__btn:hover {
    color: white;
    background: #476BF0;
}

.offers__card-link {
    display: flex;
    justify-content: space-between;
    height: 63px;
    padding: 0 25px;
    align-items: center;
    text-align: center;
    border-radius: 0 0 15px 15px;
    width: 100%;
    border-top: 2.5px solid #E9E9E9;
    font-weight: 400;
    font-size: 28px;
    line-height: 27px;
    color: #252A34;
}

.best-bank__body {
    padding-top: 75px;
}

.best-bank__btns {
    padding-top: 75px;
}

.banks-stalls__body {
    padding-top: 59px;
}

.banks-stalls__card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 123px;
    width: 123px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.09), 0px 0px 16px rgba(0, 0, 0, 0.09);
    border-radius: 15px;
    transition: 0.3s ease;
}

.banks-stalls__cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 75px;
}

.banks-stalls__card:hover {
    box-shadow: 0px 0px 28px rgba(71, 107, 240, 0.2);
}

.info__title {
    padding-top: 75px;
}

.info__accordion {
    border-radius: 15px;
    margin-top: 70px;
    border: 2px solid #E9E9E9;
}

.accordion__control {
    padding: 0 35px;
    width: 100%;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #E9E9E9;
    background-color: white;
    border-radius: 15px 15px 0 0;
}

.accordion__last-control {
    border-bottom: none;
    border-radius: 0 0 15px 15px;
}

.accordion__last-content {
    border-radius: 0 0 15px 15px;
}

.accordion__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 29px;
    color: #252A34;
    text-align: left;
}

.accordion__content {
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
    color: #5E5E5E;
    background-color: #EAEAEA;
    padding: 0 34px;
    text-align: left;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    will-change: max-height;
    transition: all 0.3s ease-out;
    box-sizing: content-box;
}

.accordion__icon {
    transition: transform 0.3s ease-out;
}

.open .accordion__icon {
    transform: rotate(180deg);
}

.open .accordion__content {
    opacity: 1;
    padding: 24px 34px;
}

.ready-solutions__body {
    padding-top: 75px;
}

.ready-solutions__cards {
    margin-top: 75px;
}

.ready-solutions__cards-row {
    justify-content: center;
    display: flex;
    gap: 10px;
}

.ready-solutions__cards-row:not(:last-child) {
    margin-bottom: 13px;
}


.ready-solutions__card {
    width: 246px;
    background-color: #E8ECFF;
    border-radius: 15px;
    padding: 15px 10px;
    text-align: left;
}

.ready-solutions__card-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 19px;
    color: #476BF0;
    white-space: nowrap;
}

.ready-solutions__card-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 11px;
    color: #476BF0;
    display: block;
    margin-top: 12px;
}

.footer {
    margin-top: 75px;
    background-color: #252A34;
}

.footer__list {
    display: flex;
    gap: 14px;
    padding-top: 31px;
}

.footer__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    color: #FFFFFF;
    transition: 0.1s ease;
}

.footer__link:hover {
    color: #476BF0;
}

.footer__text {
    padding: 27px 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 13px;
    color: #A9A9A9;
    text-align: left;
}

.dropdown__control {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 258px;
    padding: 19px 17px;
    text-align: left;
    background-color: white;
    border-left: 1px solid #E1E1E1;
    border-right: 1px solid #E1E1E1;
}

.dropdown__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    color: #818181;
}

.dropdown__selected {
    font-weight: 600;
    font-size: 24px;
    line-height: 23px;
    color: #252A34;
    margin-top: 9px;
}

.dropdowns {
    box-shadow: 0px 0px 27px rgba(71, 107, 240, 0.15);
    border-radius: 15px;
    max-width: 1024px;
    margin: 0 auto;
}

.dropdown__menu-item:hover {
    background-color: #F4F4F4;
}

.dropdown__control-border {
    border: none;
    border-radius: 15px 0 0 15px;
}

.dropdown__menu-list {
    width: 258px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    will-change: max-height;
    transition: all 0.3s ease-out;
    box-sizing: content-box;
}

.dropdowns-list {
    display: flex;
}

.dropdown__item {
    position: relative;
}

.dropdown__menu-item {
    padding: 17px;
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    color: #252A34;
    transition: 0.2s ease;
}

.dropdown__menu-item:not(:last-child) {
    border-bottom: 1px solid #E6E6E6;
}

.dropdown__menu-list {
    position: absolute;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 15px 15px;
    text-align: left;
    background-color: white;
    z-index: 2;
    cursor: pointer;
}

.dropdown__icon {
    transition: transform 0.3s ease-out;
}

.open .dropdown__control {
    background-color: #F4F4F4;
}

.open .dropdown__control-border {
    border-radius: 0 0 0 0;
}

.open .dropdown__icon {
    transform: rotate(180deg);
}

.open .dropdown__menu-list {
    opacity: 1;
}

.dropdowns {
    margin-top: 75px;
}

.dropdown__btn {
    width: 100%;
    border-radius: 0 15px 15px 0;
    background-color: #476BF0;
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    color: #FFFFFF;
    transition: 0.1s ease;
}

.dropdown__btn:hover {
    background-color: #305BFA;
}

.table {
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid #E2E2E2;
    backdrop-filter: blur(3.5px);
    border-radius: 15px;
    width: 100%;
    text-align: left;
    margin-top: 53px;
    border-radius: 15px;
    border-collapse: collapse;
}

.table th {
    font-weight: 400;
    font-size: 22px;
    line-height: 21px;
    color: #252A34;
    padding: 14px 26px;
    cursor: pointer;
}


.table td {
    padding: 30px 25px;
    font-weight: 400;
    font-size: 25px;
    line-height: 24px;
    color: #5F5F5F;
    border-top: 1px solid #E2E2E2;
}

.best-bank__bank-name {
    color: #476BF0;
}

.table__num {
    font-weight: 600;
    font-size: 22px;
    line-height: 21px;
    color: #5F5F5F;
}

table tr:nth-of-type(2) {
    background: #F8F8F8;
}

table tr:nth-of-type(4) {
    background: #F8F8F8;
}

table tr:nth-of-type(6) {
    background: #F8F8F8;
}

td {
    border: 1px solid #E2E2E2;
}

th {
    border: 1px solid #E2E2E2;
}

.table__name-column {
    display: flex;
    justify-content: space-between;
}

.best-bank__btn {
    display: inline-block;
    padding: 13px 38px;
    border: 1px solid #476BF0;
    border-radius: 15px;
    font-weight: 400;
    font-size: 26px;
    line-height: 25px;
    background-color: transparent;
    margin: 40px auto 0;
    color: #476BF0;
    transition: 0.1s ease;
}


.best-bank__btn:hover {
    color: white;
    background: #476BF0;
}

.offers__cards-row:nth-child(n + 3) {
    display: none;
}

.offers__cards-row.is-visible {
    display: flex;
}

.similar__cards {
    display: flex;
    gap: 17px;
}

.similar__name-bank {
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    color: #252A34;
}

.similar__name-card {
    font-weight: 600;
    font-size: 22px;
    line-height: 21px;
    color: #252A34;
    margin-top: 13px;
}

.similar__info-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    text-align: center;
    color: #838383;
}

.similar__info-nums {
    font-weight: 600;
    font-size: 18px;
    line-height: 17px;
    text-align: center;
    color: #476BF0;
    margin-top: 5px;
}

.similar__info {
    margin-top: 10px;
}

.similar__info-text:not(:first-child) {
    margin-top: 5px;
}

.similar__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 38px;
    color: #252A34;
    margin-top: 76px;
}

.similar__card img {
    width: 210px;
    height: 132px;
    margin-top: 11px;
}

.similar__card {
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    max-width: 243px;
    padding: 12px 16px;
    margin-top: 74px;
    cursor: pointer;
    transition: 0.1s ease;
}

.similar__card:hover {
    box-shadow: 0px 0px 28px rgba(71, 107, 240, 0.2);
}

.offers__container {
    margin-top: 75px;
}

.offers__sub-title {
    max-width: 640px;
    font-weight: 400;
    font-size: 28px;
    line-height: 39px;
    color: #252A34;
    margin-top: 27px;
    max-width: 777px;
    margin: 15px auto 0;
}

.offers__card {
    text-align: left;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.09), 0px 0px 16px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    padding: 27px 0 27px 19px;
    width: 100%;
}

.offers__card:not(:first-child) {
    margin-top: 33px;
}

.offers__cards {
    margin-top: 49px;
}

.offers__card-title {
    font-weight: 600;
    font-size: 26px;
    line-height: 25px;
    color: #252A34;
}

.offers__card-dignities {
    border-left: 1px solid #476BF0;
    margin-left: 15px;
    height: 159px;
    padding-left: 16px;
}

.offers__card-dignity:not(:first-child) {
    margin-top: 26px;
}

.offers__card-dignity {
    display: flex;
    align-items: center;
    gap: 16px;
}

.offers__card-dignity p {
    font-weight: 600;
    font-size: 18px;
    line-height: 17px;
    color: #476BF0;
}

.offers__bottom {
    margin-top: 27px;
    display: flex;
    align-items: center;
}

.offers__card-info {
    padding-left: 19px;
}

.offers__card-btns {
    margin-top: 19px;
}

.offers__card-btn {
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    background: transparent;
    border: 1px solid #476BF0;
    border-radius: 15px;
    padding: 15px 27px;
    color: #476BF0;
    transition: 0.1s ease;
}

.offers__card-btn:hover {
    background: #476BF0;
    color: white;
}

.offers__card-btn:not(:last-child) {
    margin-right: 25px;
}

.offers__card-footer {
    display: flex;
    gap: 18px;
    margin-top: 23px;
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    color: #818181;
}

.offers__card-columns {
    display: flex;
    gap: 14px;
}

.offers__column-text p {
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    color: #818181;
    margin-top: 14px;

}

.offers__column-nums p {
    font-weight: 500;
    font-size: 14px;
    line-height: 13px;
    color: #252A34;
    margin-top: 14px;
}

.offers__card:nth-child(n + 6) {
    display: none;
}

.show-more {
    color: #476BF0;
    font-size: 26px;
    font-weight: 400;
    background-color: transparent;
    padding: 13px 54px;
    border-radius: 15px;
    border: 1px solid #476BF0;
    margin-top: 33px;
}

.show-more:hover {
    background: #476BF0;
    color: white;
}

.offers__card.is-visible {
    display: block;
}

.offers__title {
    margin-top: 75px;
}